[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Petits feuilletés au jambon et fromage - Les recettes de Virginie
Type=Link
URL=http://www.lesrecettesdevirginie.com/article-petits-feuilletes-au-jambon-et-fromage-117947399.html
Icon=text-html
